<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.calyee.web.aiwarehouse.mapper.LocationsMapper">

    <resultMap type="Locations" id="LocationsResult">
        <result property="locationId" column="location_id"/>
        <result property="area" column="area"/>
        <result property="aisle" column="aisle"/>
        <result property="bay" column="bay"/>
        <result property="level" column="level"/>
        <result property="position" column="position"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteFlag" column="delete_flag"/>
    </resultMap>

    <sql id="selectLocationsVo">
        select location_id,
               area,
               aisle,
               bay,
               level,
               position,
               create_user,
               create_time,
               update_user,
               update_time,
               delete_flag
        from awm_locations
    </sql>

    <select id="selectLocationsList" parameterType="Locations" resultMap="LocationsResult">
        <include refid="selectLocationsVo"/>
        <where>
            <if test="area != null  and area != ''">and area like concat("%",#{area} ,"%")</if>
            <if test="aisle != null  and aisle != ''">and aisle like concat("%",#{aisle} ,"%")</if>
            <if test="bay != null  and bay != ''">and bay like concat("%",#{bay} ,"%")</if>
            <if test="level != null  and level != ''">and level like concat("%",#{level} ,"%")</if>
            <if test="position != null  and position != ''">and position like concat("%",#{position} ,"%")</if>
            <if test="createUser != null  and createUser != ''">and create_user = #{createUser}</if>
            <if test="updateUser != null  and updateUser != ''">and update_user = #{updateUser}</if>
            <if test="deleteFlag != null ">and delete_flag = #{deleteFlag}</if>
        </where>
    </select>

    <select id="selectLocationsByLocationId" parameterType="Long" resultMap="LocationsResult">
        <include refid="selectLocationsVo"/>
        where location_id = #{locationId}
    </select>

    <insert id="insertLocations" parameterType="Locations" useGeneratedKeys="true" keyProperty="locationId">
        insert into awm_locations
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="area != null and area != ''">area,</if>
            <if test="aisle != null and aisle != ''">aisle,</if>
            <if test="bay != null and bay != ''">bay,</if>
            <if test="level != null and level != ''">level,</if>
            <if test="position != null and position != ''">position,</if>
            <if test="createUser != null and createUser != ''">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleteFlag != null">delete_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="area != null and area != ''">#{area},</if>
            <if test="aisle != null and aisle != ''">#{aisle},</if>
            <if test="bay != null and bay != ''">#{bay},</if>
            <if test="level != null and level != ''">#{level},</if>
            <if test="position != null and position != ''">#{position},</if>
            <if test="createUser != null and createUser != ''">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleteFlag != null">#{deleteFlag},</if>
        </trim>
    </insert>

    <update id="updateLocations" parameterType="Locations">
        update awm_locations
        <trim prefix="SET" suffixOverrides=",">
            <if test="area != null and area != ''">area = #{area},</if>
            <if test="aisle != null and aisle != ''">aisle = #{aisle},</if>
            <if test="bay != null and bay != ''">bay = #{bay},</if>
            <if test="level != null and level != ''">level = #{level},</if>
            <if test="position != null and position != ''">position = #{position},</if>
            <if test="createUser != null and createUser != ''">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deleteFlag != null">delete_flag = #{deleteFlag},</if>
        </trim>
        where location_id = #{locationId}
    </update>

    <update id="deleteLocationsByLocationId" parameterType="Long">
        update awm_locations
        set delete_flag = 1
        where location_id = #{locationId}
    </update>

    <update id="deleteLocationsByLocationIds" parameterType="String">
        update awm_locations set delete_flag = 1 where location_id in
        <foreach item="locationId" collection="array" open="(" separator="," close=")">
            #{locationId}
        </foreach>
    </update>
</mapper>